#content-wrapper{
    margin: 1%;
}
h4{
    margin-top: 1%;
}

.form-group{
    margin-top: 2%;
}

.navbar{
    margin-bottom: 2%;
}

.filter_datatables{
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn_buscar{
    margin-top: 4%;
}

.btn-secondary{
    background-color: black!important;
}

/* altura dos select2 */
.select2-selection{
    height: 36px!important;
}

.select2-selection__rendered{
    padding-top: 0.5%!important;
}

.select2-container{
    margin-top: 0.4px;
}

.bs-bars{
    float: right!important;
    margin-left: 5px!important;
}





